#Active {
    background-image: linear-gradient(to right, #B9975B, yellow);
    border-radius: 0 15px 15px 0;
    color: red;
    width: 95%;
    padding-right: 5%;
}
@media (max-width: 899px){
    #Active {
        width: 96.5%;
    }
}

